@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-size: 20px;
  background: linear-gradient(to right, #ff6a00, #ee0979);
}

.hero {
  font-size: 3rem;
  font-family: "Playfair Display", serif;
}

.main header {
  width: 100%;
  text-align: center;
}

#emoji {
  font-size: 3rem;
}

footer a {
  text-decoration: none;
  color: whitesmoke;
}

.main {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.wrapper {
  width: 100%;
  height: 50%;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blockquote {
  padding-top: 2rem;
}

.blockquote-footer {
  padding-top: 2rem;
  padding-bottom: 1rem;
  color: black;
  text-align: end;
  animation: fadeInRight 1s ease-out;
}

.main > footer {
  margin-top: auto;
}

footer > .innerbox {
  text-align: center;
  padding-bottom: 1rem;
}

.loader {
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  padding: 2rem 0;
}

.btn {
  border: none;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  color: #fff;
  background-color: rgba(0, 0, 0, 0);
  color: black;
  border: 2px solid #4caf50; /* Green */
  transition-duration: 0.4s;
}

.btn:hover {
  background-color: #4caf50; /* Green */
  color: white;
}

.btn:focus {
  outline: none;
}

.quote {
  text-align: center;
  animation: fadeInRight 1s ease-out;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@media (min-width: 992px) {
  .wrapper {
    padding-right: 5rem;
    padding-left: 5rem;
  }
}
