@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-size: 20px;
  background-color: #ffaa71;
  font-family: "Playfair Display", serif;
}

.hero {
  font-size: 3rem;
}

.main header {
  width: 100%;
  text-align: center;
  margin-bottom: 1rem;
}

#emoji-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

#emoji {
  width: 5rem;
  height: 5rem;
  border: none;
  background-image: url(./assests/handsup.svg);
}

footer a {
  text-decoration: none;
  color: blueviolet;
}

.main {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.wrapper {
  width: 100%;
  padding: 0 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blockquote {
  min-height: 5rem;
  padding-top: 2rem;
  margin-bottom: 2rem;
}

.blockquote-footer {
  padding-top: 2rem;
  padding-bottom: 1rem;
  color: black;
  text-align: end;
  animation: fadeInRight 1s ease-out;
}

.main > footer {
  margin-top: auto;
  padding-top: 5rem;
}

footer > .innerbox {
  text-align: center;
  padding-bottom: 1rem;
}

.loader {
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  min-height: 10rem;
  padding-top: 5rem;
}

.btn {
  border: none;
  width: 3rem;
  height: 3rem;
  background-image: url(./assests/arrows_rotate.svg);
  transform: scaleX(-1);
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  border: 2px solid black; /* Green */
  transition-duration: 0.4s;
  border-radius: 2px;
}
/* #4caf50 */
.btn:hover {
  background-color: yellow; /* Green */
  color: white;
}

.btn-circle {
  border-radius: 100%;
}

.rotate {
  animation: rotation 1s ease-in-out infinite;
}

@keyframes rotation {
  from {
    transform: rotate(0) scaleX(-1);
  }

  to {
    transform: rotate(360deg) scaleX(-1);
  }
}

.quote {
  text-align: center;
}

.fadeInRight {
  animation: fadeInRight 1s ease-out;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@media (min-width: 992px) {
  .wrapper {
    padding: 0 20rem;
  }
}
